<div class="flex justify-start items-center">

    <div class="fixed left-0 top-1/2 transform -translate-y-1/2 w-16 bg-white shadow-lg rounded-r-lg">
        <div class="flex flex-col items-center space-y-6 p-4">
            <a routerLink="/" class="text-gray-600 hover:text-blue-600" title="Home">
                <i class="fas fa-home fa-lg"></i>
            </a>
            <!-- <a routerLink="/posts" class="text-gray-600 hover:text-blue-600" title="Posts">
                <i class="fas fa-file-alt fa-lg"></i>
            </a> -->
            
            <a routerLink="/userprofile" class="text-gray-600 hover:text-blue-600" title="Dashboard">
                <i class="fas fa-history fa-lg"></i>
            </a>
            <a routerLink="/uploadvideo" class="text-gray-600 hover:text-blue-600" title="Upload">
                <i class="fas fa-plus fa-lg"></i>
            </a>
            <a class="text-gray-600 hover:text-red-600" title="Logout" (click)="onLogout()">
                <i class="fas fa-sign-out-alt fa-lg text-red-500"></i>
            </a>
        </div>
    </div>

</div>