<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white border border-gray-300 rounded-lg shadow-lg">
      <!-- Logo Placeholder -->
      <div class="flex justify-center mb-4">
        <img src="assets/logored.png" alt="Logo" class="w-20 h-20">
      </div>
      
      <h2 class="mb-4 text-2xl font-semibold text-center text-gray-700" >Enter Your new Password</h2>
  
      <!-- Email Input Form -->
      <form  (ngSubmit)="onSubmit()" [formGroup]="newPasswordform">
        <div class="mb-4">
          <input
            type="password"
            id="password"
            class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
            formControlName="password"
            placeholder="Enter your new password"
            required>

            <p class="text-red-700"
            *ngIf="newPasswordform.get('password')?.touched && newPasswordform.get('password')?.hasError('required')">
            Password is required
        </p>
        <p class="text-red-700"
            *ngIf="newPasswordform.get('password')?.touched && newPasswordform.get('password')?.hasError('minlength')">
            Password must be at least 8 characters long
        </p>
        <p class="text-red-700"
            *ngIf="newPasswordform.get('password')?.touched && newPasswordform.get('password')?.hasError('weakPassword')">
            Password must include at least one uppercase letter, one lowercase letter, one number, and one
            special
            character
        </p>
        </div>
        <button
          type="submit"
          class="w-full px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
          Submit new Password
        </button>
      </form>

    </div>
  </div>
  