<app-header></app-header>


<section class="container mx-auto mt-5 p-6 flex flex-col items-center gap-4">

</section>


<section class="container mx-auto mt-10 p-6 flex flex-col items-center gap-4"
    style="background-image: url('assets/background.jpg'); background-size: cover; background-position: center;">

    <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full md:w-1/2 flex items-center space-x-6 relative">

        <!-- Edit Pen Icon Button (Positioned at the top-right corner) -->
        <button *ngIf="!isEditing" (click)="startEditing()"
            class="absolute top-4 right-4 bg-gray-500 text-white p-2 rounded-md focus:outline-none hover:bg-gray-600">
            <i class="fas fa-pen"></i>
        </button>

        <!-- Tick and X Buttons for Editing -->
        <div *ngIf="isEditing" class="absolute top-4 right-4 flex space-x-2">
            <button (click)="saveChanges()"
                class="bg-green-500 text-white p-2 rounded-md focus:outline-none hover:bg-green-600">
                <i class="fas fa-check"></i> <!-- Tick Icon -->
            </button>
            <button (click)="cancelEditing()"
                class="bg-red-500 text-white p-2 rounded-md focus:outline-none hover:bg-red-600">
                <i class="fas fa-times"></i> <!-- X Icon -->
            </button>
        </div>

        <div class="flex-none">
            <div class="relative">
                <img [src]="selectedImage || userProfile?.profilepicture || defaultImage" alt="Profile Picture"
                    class="w-32 h-32 rounded-full object-cover border-4 border-blue-500">
                <button (click)="fileInput.click()"
                    class="absolute top-0 right-0 bg-blue-500 text-white p-1 rounded-full focus:outline-none hover:bg-blue-600">
                    <i class="fas fa-camera"></i>
                </button>
                <input type="file" id="fileInput" #fileInput (change)="onImageSelected($event)" style="display: none;">
            </div>
            <div *ngIf="isPreviewing" class="mt-2 flex space-x-2">
                <button (click)="saveImage()"
                    class="bg-green-500 text-white p-2 rounded-lg hover:bg-green-600">Save</button>
                <button (click)="cancelImage()"
                    class="bg-gray-500 text-white p-2 rounded-lg hover:bg-gray-600">Cancel</button>
            </div>
        </div>

        <div class="flex-grow space-y-2 w-full">
            <div class="text-left">
                <input type="email"
                    class="w-full p-2 rounded-lg focus:outline-none focus:border-blue-500 text-left bg-transparent"
                    placeholder="user@example.com" disabled [(ngModel)]="userProfile.email">
            </div>

            <div class="text-left">
                <input type="text"
                    class="w-full p-2 rounded-lg focus:outline-none focus:border-blue-500 text-left bg-transparent"
                    placeholder="Username" [disabled]="!isEditing" [(ngModel)]="userProfile.name"
                    [ngClass]="{'border-b-2 border-black': isEditing}">
            </div>

            <div class="text-left">
                <input type="text"
                    class="w-full p-2 rounded-lg focus:outline-none focus:border-blue-500 text-left bg-transparent"
                    placeholder="123-456-7890" [disabled]="!isEditing" [(ngModel)]="userProfile.phonenumber"
                    [ngClass]="{'border-b-2 border-black': isEditing}">
            </div>

            <div class="text-left">
                <input type="text"
                    class="w-full p-2 rounded-lg focus:outline-none focus:border-blue-500 text-left bg-transparent"
                    placeholder="Country" [disabled]="!isEditing" [(ngModel)]="userProfile.country"
                    [ngClass]="{'border-b-2 border-black': isEditing}">
            </div>

            <div class="flex justify-center mt-2">

            </div>
        </div>
    </div>

</section>


<section class="container p-3">
    <div class="tab-list flex gap-4 border-b justify-center max-w-[1200px] mx-auto">
        <button class="tab-item py-2 px-4 text-lg font-semibold text-gray-700"
            [ngClass]="{'active': activeTab === 'uploaded'}" (click)="setActiveTab('uploaded')">
            Uploaded Videos
        </button>
        <button class="tab-item py-2 px-4 text-lg font-semibold text-gray-700"
            [ngClass]="{'active': activeTab === 'popular'}" (click)="setActiveTab('popular')">
            Private Videos
        </button>
        <!-- Uncomment this block if needed -->
        <button class="tab-item py-2 px-4 text-lg font-semibold text-gray-700"
            [ngClass]="{'active': activeTab === 'recommended'}" (click)="setActiveTab('recommended')">
            watch later
        </button>
    </div>
</section>








<section class="container mx-auto mt-5 p-3 flex flex-col items-center gap-2">
    <div class="min-h-screen p-8">
        <div class="container">
            <!-- Tab Section -->



            <!-- Tab Content -->
            <div *ngIf="activeTab === 'uploaded'">
                <h1 class="text-3xl font-bold text-black mb-8">Uploaded Videos</h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
                    <!-- Loop through uploaded videos -->
                    @for (movie of allvideos; track movie._id) {
                    <a class="movie-card relative rounded-lg overflow-hidden shadow-xl cursor-pointer transform transition-transform duration-300 hover:scale-105"
                        (click)="onMovieClick(movie._id)">
                        <img [src]="movie.thumbnail" [alt]="movie.title" class="w-full h-[200px] object-cover">

                        <div
                            class="movie-overlay absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 transition-opacity duration-300 hover:opacity-100">
                            <div class="absolute bottom-0 p-4 w-full">
                                <h3 class="text-white font-bold text-lg">{{ movie.title }}</h3>
                                <div class="flex items-center gap-2 text-gray-300 text-sm mt-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                    </svg>
                                    <span>{{ movie.views }}</span>
                                    <span>{{ movie.visibility }}</span>
                                    <span class="mx-2">•</span>
                                    <button (click)="openModal(movie); $event.stopPropagation()" class="text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M6 12h12M6 6h12M6 18h12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    }
                </div>
            </div>

            <div *ngIf="activeTab === 'popular'">
                <h1 class="text-3xl font-bold text-black mb-4">Private Videos</h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
                    <!-- Check if there are private videos -->
                    <ng-container *ngIf="privatevideos.length > 0; else noVideos">
                        <!-- Loop through private videos -->
                        <a class="movie-card relative rounded-lg overflow-hidden shadow-xl cursor-pointer transform transition-transform duration-300 hover:scale-105"
                            *ngFor="let movie of privatevideos; trackBy: trackByMovieId"
                            (click)="onMovieClick(movie._id)">
                            <img [src]="movie.thumbnail" [alt]="movie.title" class="w-full h-[200px] object-cover">
                            <div
                                class="movie-overlay absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 transition-opacity duration-300 hover:opacity-100">
                                <div class="absolute bottom-0 p-4 w-full">
                                    <h3 class="text-white font-bold text-lg">{{ movie.title }}</h3>
                                    <div class="flex items-center gap-2 text-gray-300 text-sm mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                        <span>{{ movie.views }}</span>
                                        <span>{{ movie.visibility }}</span>
                                        <span class="mx-2">•</span>
                                        <button (click)="openModal(movie); $event.stopPropagation()" class="text-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M6 12h12M6 6h12M6 18h12" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                    <!-- Template for no videos -->
                    <ng-template #noVideos>
                        <div
                            class="flex items-center justify-center col-span-1 sm:col-span-2 md:col-span-3 lg:col-span-3 h-[100px]">
                            <h2 class="text-lg font-medium text-gray-500">No private videos available</h2>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="activeTab === 'recommended'">
                <h1 class="text-3xl font-bold text-black mb-8">Watch Later Videos</h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
                    @for (movie of watchlatervideos; track movie._id) {
                    <a class="movie-card relative rounded-lg overflow-hidden shadow-xl cursor-pointer transform transition-transform duration-300 hover:scale-105"
                        (click)="onMovieClick(movie.videoDetails._id)">
                        <img [src]="movie.videoDetails.thumbnail" [alt]="movie.title"
                            class="w-full h-[200px] object-cover">
                        <div
                            class="movie-overlay absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 transition-opacity duration-300 hover:opacity-100">
                            <div class="absolute bottom-0 p-4 w-full">
                                <h3 class="text-white font-bold text-lg">{{ movie.videoDetails.title }}</h3>
                                <div class="flex items-center gap-2 text-gray-300 text-sm mt-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                    </svg>
                                    <span>{{ movie.videoDetails.views }}</span>
                                    <span>{{ movie.videoDetails.visibility }}</span>
                                    <span class="mx-2">•</span>

                                </div>
                            </div>
                        </div>
                    </a>
                    }
                </div>
            </div>



        </div>
    </div>
</section>



<!-- Modal for Editing Video Details -->
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50">
    <div class="bg-gray-100 p-6 rounded-lg w-96">
        <h2 class="text-lg font-semibold text-gray-700">Edit Video</h2>
        <form (submit)="updateVideo()">
            <div class="mt-4">
                <label class="block text-sm font-medium text-gray-700" for="title">Title</label>
                <input type="text" [(ngModel)]="selectedVideo.title" name="title" id="title"
                    class="mt-1 block w-full p-2 border rounded-md" />
            </div>

            <div class="mt-4">
                <label class="block text-sm font-medium text-gray-700" for="description">Description</label>
                <textarea [(ngModel)]="selectedVideo.description" name="description" id="description" rows="4"
                    class="mt-1 block w-full p-2 border rounded-md"></textarea>
            </div>

            <div class="mt-4">
                <label class="block text-sm font-medium text-gray-700" for="visibility">Visibility</label>
                <div class="flex gap-4">
                    <label>
                        <input type="radio" [(ngModel)]="selectedVideo.visibility" value="private" name="visibility"
                            class="mr-2" /> Private
                    </label>
                    <label>
                        <input type="radio" [(ngModel)]="selectedVideo.visibility" value="public" name="visibility"
                            class="mr-2" /> Public
                    </label>
                </div>
            </div>

            <div class="mt-4 flex justify-end gap-4">
                <button type="button" (click)="closeModal()" class="px-4 py-2 bg-gray-300 rounded-lg">Cancel</button>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Save</button>
            </div>
        </form>

    </div>
</div>






<app-sidepanel></app-sidepanel>