
<!-- <video id="my-video"
class="video-js"
controls
preload="auto"
width="640"
height="264"
controls 
data-setup="{}">
  <source src="https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_fmp4/master.m3u8" type="application/x-mpegURL">
</video> -->


<!-- <video id="my-video"

       class="video-js"
       controls
       preload="auto"
       width="640"
       height="264"
       data-setup="{}">
       <source [src]="newLink" type="application/x-mpegURL">

</video> -->

<!-- newLink ='http://localhost:5002/video6-hls/playlist.m3u8' -->
<video
  #videoPlayer
  id="video-player"
  class="video-js vjs-default-skin"
  controls
  preload="auto"
  width="640"
  height="360"
  data-setup="{}"
></video>



<!-- <video controls src="https://d21dzai1g9b37q.cloudfront.net/video8-hls/playlist.m3u8"></video> -->


https://d21dzai1g9b37q.cloudfront.net/video8-hls/playlist.m3u8


https://d21dzai1g9b37q.cloudfront.net/video6.mp4